@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Nunito", sans-serif;
  border: none;
}
:root {
  --padding: 0.5rem;
}

i {
  font-size: 30px;
}
button {
  background-color: transparent;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 1px #2baf38 solid;
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 50;
}
.fixed-navbar {
}
.container {
  position: relative;
  width: 85%;
  /* padding: var(--padding); */
  margin: 0 auto;
}
.phone-number {
  color: green;
}

.navbar-section-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem;
}
.navbar-phone_section {
  align-items: center;
  gap: 5px;
}
.myphone {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}

.navbar-section-2 {
  /* padding: 0.5rem 0; */
  overflow: hidden;
  /* position: relative; */
}
.nav-links {
  margin: "0 0 0 auto";
  list-style: none;
  justify-content: end;
  /* padding: 1px; */
  gap: 1.5rem;
}
.link {
  height: 35px;
  padding: 0rem 0.5rem;
  color: #0087ca;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all ease-out 0.2s;
}
.link:hover {
  border-bottom: 4px solid #0087ca;
}
.toggle-menu-contianer-sortBtn {
  color: #ffffff;
  padding: 0.3rem;
}

.main-section {
  height: 480px;
  background-image: url(https://pristinegreencleaning.com/assets/images/ny-carpet-cleaning.jpg);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
}
.main-heading-section {
  padding: 0 6rem;
  /* widthś: 43%; */
}
.heading-1 {
  color: #4078bc;
  font-family: sans-serif;
  font-size: 3.2rem;
}

.booknow-section > button {
  transition: all ease-in-out 0.3s;
}
.booknow-section > button:hover {
  transform: scale(0.98);
}
.heading-2 {
  font-size: 1.8rem;
  padding: 0.4rem 0;
  color: #ffffff;
  filter: drop-shadow(0 0 4px #666);
}
.booknow-section {
  height: 3.2rem;
  gap: 0.4rem;
  margin: 2rem 0;
}

.book-now_input {
  outline: none;
  width: 75%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 6px;
}
.book-now_btn {
  background-color: #2baf38;
  width: 35%;
  color: white;
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-menu {
  width: 100vw;
  height: calc(100vh - 75px);
  overflow-y: auto;
  position: fixed;
  /* padding: 0.5rem; */
  bottom: 0;
  left: 0;
  z-index: 40;
  background-color: #4873b7;
  transition: all ease 0.4s;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.toggle-menu::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.toggle-menu {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.toggle-menu > div:not(:last-child) {
  border-bottom: 1px solid rgb(255, 250, 250);
}

.toggle-menu div {
  color: #ffffff;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
}
.clean-services-links {
  margin: 0;
  /* background-color: red; */
  padding: 0;
}

.clean-service-section {
  background-color: #f2f2f24d;
  padding: 0 1rem !important;
}
.clean-service-section > div {
  padding: 0.8rem;
  font-size: 1rem;
}
.clean-service-section > div:not(:last-child) {
  border-bottom: 1px solid rgb(255, 250, 250);
}

.clean-serivces-hover {
  position: absolute;
  /* visibility: hidden; */
  display: none !important;
  /* left: 50%; */
  bottom: -27rem;
  transform: translateX(-50%);
  /* bottom: 110; */
  width: 85%;
  height: 440px;
  background-color: #337ab7;
  color: #ffffff;
  /* transform: translateX(-50%, -50%); */
  border-radius: 5px;
  padding: 0 4rem;
}
.cleaning-services-hover-sections {
  /* padding: 4rem; */
  width: 35vw;
  /* text-decoration: none; */
  /* color: #ffffff; */
}
.cleaning-services-hover-sections,
p {
  padding: 0.8rem 0 0.8rem 1.2rem;
}

.cleaning-services-hover-section p > a {
  font-size: 0.9rem;
  /* text-decoration: none; */
  /* color: #ffffff; */
}
.cleaning-services-hover-section p > a:hover {
  color: #ffc122;
  text-decoration: underline;
}
.clean-link {
}
.clean-link:hover .clean-serivces-hover {
  display: flex !important;
  /* visibility: visible; */
}

.footer-1 {
  background-color: #222222;
  padding: 5rem 0;
  width: 100%;
}
.footer-1-container {
  width: 80%;
  margin: 0 auto;
}
.footer-1-container__imgs {
  gap: 0.5rem;
}
.footer-2 {
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background-color: #000;
  color: #ffffff;
  height: 110px;
}
.footer-1 > div,
a {
  text-decoration: none;
  color: #ffffff;
}
.footer-2-links :hover {
  color: #2baf38;
}

.review-section {
  background-color: #4078bc;
}
.review-section-container {
  width: 75%;
  margin: 0 auto;
  padding: 1rem 0;
}
.review-section-container > div {
  width: 50%;
  color: #ffffff;
}

.feature-section {
  background-color: #e6e6e6;
}
.feature-section-container {
  width: 88%;
  margin: 0 auto;
  padding: 2rem;
}
.feature-section-1 > span {
  display: inline-block;
  background: #8b8b8b;
  width: 100%;
  height: 5px;
}
.feature-section-title {
  color: #8b8b8b;
  text-align: center;
  width: 28rem;
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
}
.feature-section-title > p {
  padding: 0 !important;
  margin: 0 auto;
}
.feature-container-img {
  text-align: center;
  border-bottom: 5px solid #8b8b8b;
}

.services-section {
  background-color: #f4f4f4;
}
.services-section-container {
  /* width: 86%; */
  margin: 0 auto;
  padding: 2rem;
}
.services-section-header {
  text-align: center;
  /* width: 75%; */
  margin: 0 auto;
}
.services-section-header p:nth-child(1) {
  color: #2baf38;
  font-size: 3.1em;
}
.services-section-header p:nth-child(2) {
  /* color: #000000; */
  font-size: 1.5em;
  font-weight: 600;
}
.services-section-header p:nth-child(3) {
  font-size: 1.5em;
  /* font-weight: 600; */
}
.services-section-accordion-container {
  width: 36%;
  gap: 10px;
  padding: 2rem;
  height: auto;
}
.services-section-accordion {
  padding: 2rem 0;
}
.services-section-accordion-header {
  background-color: #2baf38;
  color: #fff;
  display: flex;
  padding: 0.8rem 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  position: relative;
  /* z-index: 9; */
}
.services-section-accordion-header::after {
  content: "";
  position: absolute;
  height: 20px;
  background-color: #e3e9dc;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.fa-chevron-down {
  cursor: pointer;
  font-size: 1.2rem;
  color: #fff;
}
.services-section-accordion-content {
  background-color: #e3e9dc;
  color: #595959;
  padding: 0 0.5rem;
  border-radius: 0 0 12px 12px;
}

.callback-form-section {
  background-color: #2baf38;
}
.callback-form-section-container {
  width: 90%;
  color: #fff;
  padding: 1.2rem;
  margin: 0 auto;
}
.callback-form-section-container-title {
  font-size: 1.6rem;
}
.callback-form-section-container-input {
  width: 250px;
  outline: none;
  height: 42px;
  border-radius: 4px;
  padding: 0 0.8rem;
}
.callback-form-section-container-btn {
  height: 42px;
  padding: 0 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  background-color: #4078bc;
  transition: all ease-out 0.4s;
}
.callback-form-section-container-btn:hover {
  transform: scale(0.94);
}

.offerservice-section {
  background-color: #eee;
}
.offerservice-section-container {
  /* background-image: url("https://pristinegreencleaning.com/assets/images/Green-Carpet-Cleaning-Van-NYC-small-not.png"); */
  width: 100%;
  height: auto;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 4rem 0 0rem 4rem;
}
.service-container-img {
  width: 60%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.service-container-img > img {
  width: 100% !important;
  transform: scale(1.4);
  /* background-position: right; */
}
.offerservice-section-container-1 {
  width: 60%;
}
.offerservice-section-container-1-title {
  font-size: 2rem;
  color: #4873b7;
}
.offerservice-section-list-container {
  padding: 3rem;
}
.offerservice-section-list-container > ul {
  color: #000;
  /* padding: 2rem; */
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.offerservice-section-list-container > ul > li {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}
.offerservice-section-list-container > ul > li > a {
  font-weight: 600;
  color: #000000;
  filter: drop-shadow(0 0 4px #9a8a8a);
}

.companyinfo-section {
  background-color: #4078bc;
}
.companyinfo-section-container {
  width: 80%;
  padding: 3rem;
  color: #ffffff;
  text-align: center;
  margin: auto;
}

.companyinfo-section-container-title {
  width: 82%;
  margin: 0 auto;
  font-size: 2.4rem;
}
.callus-section {
  background-color: #2baf38;
}

.callus-section-container {
  width: 80%;
  padding: 3rem;
  color: #ffffff;
  text-align: center;
  margin: auto;
}

/* animations */
.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* Media query */
@media screen and (min-width: 920px) {
  .toggle-menu {
    display: none;
  }
}

@media screen and (max-width: 940px) {
  html {
    font-size: 15px;
  }
  .container {
    width: 95%;
  }
  .navbar-phone_section {
    gap: 1rem;
  }
  .navbar-section-2 {
    display: none;
  }
  .myphone {
    display: none;
  }

  .toggle-menu-btn {
    display: block !important;
  }
  .footer-1-container > div {
    width: 50%;
  }
  .footer-2-copyright {
    text-align: center;
  }

  .feature-section-container {
    width: 92%;
    padding: 1rem 0;
  }
  .feature-section-title {
    width: 50%;
    font-size: 1.6rem;
  }
  .services-section-header {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  .callback-form-section-container {
    padding: 3rem 0;
  }
  .callback-form-section-container-1 {
    flex-direction: column;
    align-items: start !important;
    gap: 1.6rem !important;
  }
  .callback-form-section-container-input {
    width: 78% !important;
  }
  .callback-form-section-container-btn {
    width: 200px !important;
  }
  .offerservice-section-container-1 {
    width: 95%;
    margin: auto;
    justify-content: center;
  }
  .offerservice-section-container {
    flex-direction: column;
    padding: 3rem 0 0 0;
  }
  .offerservice-section-list-container {
    justify-content: space-between;
    padding: 3rem 5rem;
  }
  .service-container-img {
    width: 100%;

    /* background-color: #000000; */
  }
  .service-container-img > img {
    width: 70% !important;
    transform: scale(1);
    /* background-position: right; */
  }
  .offerservice-section-container-1-title {
    text-align: center;
  }
  .companyinfo-section-container {
    width: 100%;
    padding: 1rem 0;
    text-align: start;
  }
  .companyinfo-section-container-title {
    width: 100%;
    padding: 0 0 0 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 680px) {
  .main-heading-section {
    width: 100%;
    padding: 0 0rem;
    margin: 0 auto;
    text-align: center;
    
  }
  .main-heading-section > div {
  }
  .heading-1 {
    font-size: 2.2rem;
  }
  .heading-2 {
    font-size: 1.2rem;
  }
  .booknow-section {
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem ;
    /* background: #000; */
  }
  .booknow-section > input,
  button {
    padding: 0.8rem;
    width: 100% !important;
  }
  .footer-1-container > div {
    width: 100% !important;
    text-align: center;
  }

  .footer-1-container__imgs {
    margin: 0 auto;
  }
  .footer-1-container__imgs > div {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .review-section-container {
    padding: 0.5rem 0;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
  }
  .review-section-container > div {
    /* width: auto; */
    flex-direction: column;
    text-align: center;
    font-size: 0.1rem;
  }
  .feature-section-container {
    width: 100%;
    padding: 1rem 0;
  }
  .feature-section-title {
    width: 100%;
    font-size: 1.5rem;
  }
  .feature-container-img > img {
    width: 90% !important;
    height: 70px;
  }
  .services-section-container {
    width: 100% !important;
    margin: 0 auto;
    padding: 1rem;
  }
  .services-section-header {
    text-align: center;
    font-size: 0.8rem;
    width: 95%;
    margin: 0 auto;
  }
  .services-section-header > p {
    padding: 0.5rem 0 !important;
  }
  .service-section-img > img {
    width: 100% !important;
  }
  .services-section-accordion {
    flex-direction: column-reverse;
  }
  .services-section-accordion-container {
    width: 100%;
    padding: 2rem 0;
  }
  .callback-form-section-container {
    padding: 3rem 0;
  }
  .callback-form-section-container-1 {
    flex-direction: column;
    gap: 1.6rem !important;
  }
  .callback-form-section-container-input {
    width: 100% !important;
  }
  .callback-form-section-container-btn {
    width: 100% !important;
  }
  .offerservice-section-container {
    /* object-fit: fill; */
    /* background: #6f6c6c; */
    /* height: 100vh !important; */
    background-size: contain;
    background-position: bottom left !important;
  }
  .offerservice-section-list-container {
    justify-content: space-between;
    padding: 2rem 0;
  }
  .offerservice-section-container-1-title {
    text-align: start;
    font-size: 1.4rem;
    padding: 0 0 0 0.5rem;
  }
  .service-container-img > img {
    width: 100% !important;
  }
  .offerservice-section-list-container > ul > li > a {
    font-size: 0.9rem;
  }
  .callus-section-container {
    width: 90%;
    padding: 2rem;
  }
}
